<h2>Hi &nbsp<%= @user.first_name %>!</h2>
<hr>
<div id="recent_search">
  <h4>Recent Searches</h4>
  <p>Select Details to view Symbol information.</p>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @user.tickers.each do |ticker| %>
          <tr>
            <td><strong><%= ticker.ticker %></strong><br><%= link_to tickets_details_path( ticker: ticker.ticker ) do 
                content_tag :button, 'Details'
              end %>
    		<%= link_to "/tickets/#{ticker.ticker}", method: :delete do
          content_tag :button, "Delete" 
    		end
    		%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>