<div>
<h1>Search A Symbol</h1>
<form action="/tickets/details" method="get">
<input id="ticker" name="ticker" type="Search">
<input id="submitbutton" type="submit" value="Search" />
</form>
</div>