// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search_box{
	margin-top: 10%;
	h1{
	width: 150%;
	position: relative;
	right: 28%;
	}
}