#chartdiv{
  // width: 550px;
  height: 450px;
  margin: 10px;
  // float: right;
 }
#symbolinfo{
	font-size: 18px;
}
#inforow{
	background-color: lightblue;
	border-radius: 25px;
	padding: 30px;
	background-opacity: 0.35;
	z-index: -100;
}
#calcrow{
	background-color: lightblue;
	border-radius: 25px;
	padding: 30px;
	background-opacity: 0.35;
	z-index: -100;
	margin-bottom: 20px;
}
#profit{
	font-size: 30px;
}